# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
argparse
asyncio
base64
browserhistory
certifi
collections
contextlib
csv
ctypes
datetime
enum
fnmatch
functools
glob
globmatch
gzip
hashlib
icmplib
importlib
io
json
LnkParse3
locale
logging
multiprocessing
netifaces
os
pathlib
pefile
platform
pprint
protobuf
psutil
pysftp
python_hosts
pythoncom
pytsk3
pywintypes
queue
random
re
Registry
requests
runpy
setuptools
shlex
shutil
signal
socket
sqlite_utils
sqlite3
ssl
stat
struct
subprocess
sys
threading
time
traceback
types
unicodecsv
uuid
websocket
win32api
win32com
win32con
win32evtlog
win32evtlogutil
win32file
win32net
win32netcon
win32process
win32security
win32service
win32serviceutil
win32timezone
winapps
winerror
winreg
wmi
xml
xmljson
yara
zipfile
zlib